jaustoolset/resources/schema/JSIDL_Plus/version_1_1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:jaus:jsidl:1.1" xmlns:version_1_1="urn:jaus:jsidl:1.1" xmlns:plus="urn:jaus:jsidl:plus" xmlns:ns1="urn:jaus:jsidl:1.0">
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
  <xs:import namespace="urn:jaus:jsidl:1.0" schemaLocation="jsidl_plus.xsd"/>
  <xs:import namespace="urn:jaus:jsidl:plus" schemaLocation="plus.xsd"/>
  <xs:element name="internal" type="version_1_1:tp_internal"/>
  <xs:complexType name="tp_internal">
    <xs:attribute name="interpretation"/>
  </xs:complexType>
</xs:schema>
